

DATABASE_URL="mongodb+srv://agastya110805_db_user:Agastya%40123@vibecodeeditor.ctg29ts.mongodb.net/vibecode?retryWrites=true&w=majority&appName=VIBECODEEDITOR"
AUTH_SECRET="0c7f1b856b5f39577ec2c49d9bc180fd1ed01370a4112f42e7964476f3904e34" 

AUTH_GITHUB_ID = Ov23li9By1UUaYY2Dtlp
AUTH_GITHUB_SECRET = 6393d301c71c01cb320c72b0f8776daf52e848ba

AUTH_GOOGLE_ID = 
AUTH_GOOGLE_SECRET = 